<div class="paginas">
    <div class="movieSingle">
        <h1>{{movie.name}} 
            <button type="button" class="btn btn-outline-success">
                <em class="fas fa-shopping-cart"></em> Agregar</button></h1>

        <div class="horizontal">
            
            <figure>
                <img src="{{movie.cover_page}}" alt="">
            </figure>
            <div class="vertical">
                    
                <h5 *ngFor="let item of movie.second_names">
                    {{item.description}}: <b>{{item.second_names}}</b>
                </h5>
                
                <h5>Fecha de estreno: {{movie.release_date | date:'longDate'}}</h5>
                <div class="audio">
                    <h5>Idioma:</h5>
                    <div *ngFor="let language of movie.languages; let i = index;" class="lat" ><b><h5>{{ language.language }}</h5></b> </div>
                </div>
                <h5>Subtitulado: {{subtitles || 'Sin Subtitulos'}}
                </h5>
                <h5>Categoria: {{categories}}</h5>
                <h5>Calidad: {{movie.quality}}</h5>
                <h5>Formato: {{movie.format}}</h5>
                <h5>Duracion: {{movie.inf[0].duration}} minutos</h5>
                <h5>Tamaño: <b>{{movie.inf[0].size/1000|number : '1.2-2'}} GB</b></h5>
                <div class="horizontal">
                    <h5>Precio: </h5> 
                    <h5 style="color: green; margin-left:2px; font-weight: bold;">Q{{movie.price}}</h5>
                </div>

                <h5><b>Sinopsis</b></h5>
                <div class="centrado">
                    <h5>{{movie.description}}</h5>
                </div>  
            </div>
    
        </div>

        <div class="trailer" >
            <h1>Trailer</h1>
            <iframe width="700" height="415" [src]='getUrl()' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h1>Capturas</h1>
            <figure *ngFor="let item of movie.pictures">
                <img src="{{item.path_picture}}" alt="">
            </figure>
        </div>

    </div>

</div>