/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom,  rgba(5,4,23,1) 44%, rgba(3,3,60,1) 83%, rgba(5,74,88,1) 100%) fixed;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #9E9E9E;
}

.paginas {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 50px;
}




.moviecard {

    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background:white;
    height: 0px;
    padding-bottom: 0px;
    cursor: pointer;

   
}

.filter{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-left: 280px;
    
}

.filter h5{
    background:white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    
}


.box {
    position:relative;
    
    width: 300px;
    height: 460px;
    display:grid;
    justify-content:center;
    align-items: center;
    background:rgb(246,250,242);
    margin: 10px;
    border-radius: 10px;
}



.box .titulo h5{
    margin-top: 10px;
    margin-left: 15px;
    color: black;
}

.box .content img { 

    
    margin-left: 10px;
    margin-top: 0px;   
    width: 280px;
    height: 380px;
    border-radius: 10px;
    

}




  .box:hover {
    background: rgba(255, 255, 255, .1);
    
    color: white;
    box-shadow: 0 0 5px #03a9f4, 0 0 25px #03a9f4, 0 0 50px #03a9f4, 0 0 200px #03a9f4;
}

.box:hover div h5{
    color: white;
}