<div class="paginas">

    
    <div  class="filter">
        <select id="genero" class="form-select" aria-label="Default select example">
            <option selected>Genero:</option>
            <option *ngFor="let item of categories; let i=index" value="{{i+1}}">{{item.name_category}}</option>
          </select>
        
        <select id='year' class="form-select" aria-label="Default select example">
            <option selected>Año:</option>
            <option *ngFor="let item of years; let i=index" value="{{i+1}}">{{item.r_year}}</option>
        </select>

        <button (click)="filter()" class="btn btn-success ">Filtrar</button>
    </div>

    
        <div class="moviecard">
 


            <div *ngFor="let card of file_season" class="box" (click)="singleCard(card)">
               
                <div class="titulo" n>
                    <h5>{{card.name}}</h5>
                </div>
            
                <div class="content">
                    <figure>
                        <img src="{{card.cover_page}}" alt="movie"   > 
                    </figure>
                    
                    

                </div>
                
            </div>

    
</div>
