<div class="paginas">
  <div class="row justify-content-md-center">
      <div class="col-md-8">

        <!--file-->
        <form>
          
          <div class="form-group">
            <h5 for="inputsm">Name File</h5>
            <input class="form-control input-sm" id="name" formControlName="name" type="text" required>
          </div>

           <div class="form-group">
            <h5 for="inputdefault">Category</h5>
            <select id ='category' formControlName='category' name='category' class="form-control" required>
              <option *ngFor="let item of Category"> {{ item.id_category }}-{{ item.name_category }}</option>
            </select>
            <button class="btn btn-success">Agregar</button>
            <button class="btn btn-info">Ver</button>
          </div>

        </form>

        <!--file-season-->
        <form>
          
          <div class="form-group">
            <h5 for="inputdefault">Season</h5>
            <select id ='season' formControlName='season' name='season' class="form-control" required>
              <option *ngFor="let item of Season"> {{ item.id_season }}-{{ item.name_season }}</option>
            </select>
          </div>
          
        
          <div class="form-group">
            <h5 for="inputsm">Title Description</h5>
            <select id ='category' formControlName='category' name='category' class="form-control" required>
              <option>Titulo Original</option>
              <option>Titulo Latino</option>
              <option>Titulo Ingles</option>  
              <option>Titulo España</option>
            </select>
         </div>

          <div class="form-group">
            <h5 for="inputsm">Title Name</h5>
            <input class="form-control input-sm" id="original" formControlName="original" type="text" required>
            <button class="btn btn-success">Agregar</button>
            <button class="btn btn-info">Ver</button>
          </div>

          <div class="form-group">
            <h5 for="exampleFormControlTextarea2">Description</h5>
            <textarea class="form-control rounded-0" name="description" id="description" rows="3"></textarea>
          </div>

          <div class="form-group">
            <h5>Release Date</h5>
            <input formControlName="release_date" name="release_date" type="date" class="form-control" required>
          </div>

          <div class="form-group">
            <h5 for="exampleFormControlTextarea2">Path</h5>
            <input class="form-control input-sm" id="path" formControlName="path" type="text" required>
          </div>

          <div class="form-group">
            <h5 for="exampleFormControlTextarea2">Cover Page</h5>
            <input class="form-control input-sm" id="cover_page" formControlName="cover_page" type="text" required>
          </div>


        </form>


      </div>
  </div>
</div>
