<header>
    <nav class="fixed-top">

        <img src="../../../assets/img/logo6.png" alt="">



        <ul>


            <li>            
                <input type="text" placeholder="Search..">
             </li>
            <li>
                <a>Peliculas </a>
            </li>
            <li>
                <a>Series</a>
            </li>

            <li>
                <a>Anime</a>
            </li>

            <li>
                <a>Doramas</a>
            </li>

            <li>
                <a>Musica</a>
            </li>

            
            
        </ul>


    </nav>
</header>


