<header>
    <nav class="fixed-top">

        <img class="logo"  routerLink="/card" src="../../../assets/img/logo6.png" alt="">



        <ul>

            <li>            
                <input type="text" placeholder="Search..">
             </li>
            <li>
                <a><i class="fas fa-film"></i>
                    Peliculas 
                </a>
            </li>
            <li>
                <a>
                    <i class="fas fa-tape"></i>Series
                </a>
            </li>

            <li>
                <a>
                    <i class="fab fa-asymmetrik"></i>
                    Anime
                </a>
            </li>

            <li>
                <a>
                    <i class="fab fa-dyalog"></i>
                    Doramas
                </a>
            </li>    
            
            <li>
                <a>
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>  
        </ul>


    </nav>
</header>


